body{
    background-image: url(bg2.jpg)  no-repeat center center fixed; 
    backdrop-filter: blur(3px);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} 